/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* background-color: #f7f7f7; */
  font-size: 14px;
  /* font-family: '"DMSans-Regular"'; */
  color: #4a4a4a;
}

.green {
  color: #159953;
}

.grey {
  color: #bebebe;
}

::-webkit-scrollbar {
  display: none;
}
